#root {
  min-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.profile-image {
  width: 150px;
}

.Banner-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(rgb(150, 246, 246), white);
  padding: 10px;
  border-radius: 5px;
}
.navbar-section {
  margin-top: 120px;
  display: flex;
  gap: 40px;
}
.nav-link {
  text-decoration: none;
}

.fa-regular {
  color: brown;
  width: 40px;
  height: 40px;
  background-color: bisque;
}

.sidebar-container {
  border: 2px solid rgb(242, 237, 237);
  width: 270px;

  padding: 10px;
  text-align: start;
  height: 600px;
}
.sibebar-item {
  border-bottom: 2px solid rgb(248, 247, 245);
  padding: 0px;
  font-family: "Josefin Sans", sans-serif;
  font-size: larger;
}

.title-heading {
  font-weight: 700;
  margin: 0;
}
.social-feed {
  width: 560px;
}
.latest-fleid-img {
  width: 300px;
}

.latestphotos-container {
  width: 350px;
  text-align: start;
  border: 2px solid rgb(222, 218, 209);
  padding: 15px;
}
.profile-section-container {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  margin-top: 30px;
}
.about-details-container {
  border: 2px solid rgb(242, 237, 237);
  width: 400px;
  padding: 10px;
  text-align: start;
  height: 700px;
}
.home-button {
  color: white;
  text-decoration: none;
}
